.edu-table {
  width: 25vw;
}
.chart {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  overflow: auto;
  min-width: 400px;
}

.chart_full {
  width: 90vw;
  height: 50vh;
  max-width: none;
  max-height: none;
  overflow: auto;
  min-width: 400px;
}
