.page__wrapper {
  position: relative;
  height: 100vh;
}

.page__collapse {
  /* position: absolute; */
  bottom: 5%;
  left: 1%;
}

.ant-collapse {
  border: none;
  border-radius: none;
}

.ant-collapse > .ant-collapse-item {
  border-bottom: none;
}

.ant-collapse .ant-collapse-content {
  border-top: none;
}

/*Charts*/
.charts {
  gap: 20px;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 5px 0px 5px;
}
.chart_layout {
  width: calc(33.33% - 20px);
  max-width: 100%;
  height: calc(50vh - 20px);
  min-height: 50%;
  overflow: auto;
  white-space: nowrap;

  @media (max-width: 1024px) {
    width: calc(50% - 20px);
  }

  @media (max-width: 920px) {
    width: 100%;
    margin-right: 0;
  }
}
